services:
  adote-facil-postgres:
    image: postgres:14-alpine
    container_name: 'adote-facil-postgres'
    env_file:
      - ./backend/.env
    environment:
      # O :- define um valor padrão caso a variável do .env falhe ou esteja vazia
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-adote_facil}
      POSTGRES_CONTAINER_PORT: ${POSTGRES_CONTAINER_PORT:-5432}
    ports:
      - "${POSTGRES_CONTAINER_PORT:-5432}:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - adote-facil-network
    healthcheck:
      # Protegido contra variáveis vazias
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres} -d ${POSTGRES_DB:-adote_facil}"]
      interval: 3s
      timeout: 3s
      retries: 5

  adote-facil-backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: 'adote-facil-backend'
    ports:
      - "8080:8080"
    environment:
      - NODE_ENV=production
    depends_on:
      adote-facil-postgres:
        condition: service_healthy
    # Comando 'nc' removido. O Docker usará o 'npm start' do Dockerfile.
    networks:
      - adote-facil-network

  adote-facil-frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: 'adote-facil-frontend'
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    depends_on:
      - adote-facil-backend
    networks:
      - adote-facil-network

volumes:
  db_data:

networks:
  adote-facil-network:
    driver: bridge